*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #000;
    color: #72F551;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

body {
    background-color: #FFF;
    display: grid;
    place-content: center;
    block-size: 100vh;
    inline-size: 100%;
}

img::selection {
    background-color: transparent;
}

img {
    pointer-events: none;
    max-inline-size: 100%;
}

p {
    font-size: 15px;
    letter-spacing: .5px;
    color: #555;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    inline-size: 100%;
    min-inline-size: 300px;
    max-inline-size: 450px;
    padding: 20px;
}

.container img {
    inline-size: 70%;
    margin: 16px 0;
}

.container h2 {
    margin-bottom: 2px;
    letter-spacing: .1px;
    font-size: 25px;
}

.highlight {
    color: #72F551;
}


.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 16px;
    inline-size: 100%;
}

.social-media a {
    display: block;
    position: relative;
}

.social-media a::before {
    content: attr(username);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.1);
    position: absolute;
    bottom: -25px;
    opacity: 0;
    transition: all 250ms ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000;
}

.social-media a:hover::before {
    opacity: 1;
    bottom: -20px;
}

.social-media a img {
    inline-size: 20px;
    transition: 150ms transform ease-in-out;
}

.social-media a:hover img {
    transform: scale(1.2);
}